.sidebar{
    flex: 1;
    height: calc(100vh-50px);
    background-color: rgb(245, 244, 244);
    position: sticky;
    top: 50px;
    font-weight: bold;
}
.sidebarwrapper{
    padding: 20px;
    color: #555;
}

.sidebarmenu{
    margin-bottom: 10px;
}

.sidebartitle{
    font-size: 15px;
    color:rgb(185, 185, 188) ;
}
.sidebarlist{
    list-style: none;
    padding: 5px;
}
.sidebarlistitem{
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarlistitem.active,.sidebarlistitem:hover{
    background-color:rgb(240, 240, 255) ;
}

.sidebaricon{
    margin-right: 5px ;
    font-size:17px !important;
}
